<section class="subject" id="{{ subject.id }}">
    <form class="questions" action="/subject/{{ nextSubject.id }}" method="POST">

        <h2>{{ subject.name }}</h2>
        <label for="{{ subject.id }}-docent">Docent</label>
        <input type="text" name="{{ subject.id }}docent" placeholder="Docent..." id="{{ subject.id }}-docent" value="{{ answers.docent }}" required>

        <label for="{{ subject.id }}-startdatum">Startdatum</label>
        <input type="week" name="{{ subject.id }}startdatum" id="{{ subject.id }}-startdatum" value="{{ answers.startdatum }}" required>

        <label for="{{ subject.id }}-einddatum">Einddatum</label>
        <input type="week" name="{{ subject.id }}einddatum" id="{{ subject.id }}-einddatum" value="{{ answers.einddatum }}" required>

        <fieldset class="radio">
            <legend>Lesstof (Hoe moeilijk vond je het?)</legend>
            <div class="wrapper">

                {{!-- <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof" id="1" value="1" required> --}}
                <label for="{{ subject.id }}-lesstof1">
                    1
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof1" id="1" value="1" required>
                </label>
                {{!-- <span>1</span> --}}

                <label for="{{ subject.id }}-lesstof2">
                    2
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof2" id="2" value="2" required>
                </label>
                {{!-- <span>2</span> --}}

                <label for="{{ subject.id }}-lesstof3">
                    3
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof3" id="3" value="3" required>
                </label>
                {{!-- <span>3</span> --}}

                <label for="{{ subject.id }}-lesstof4">
                    4
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof4" id="4" value="4" required>
                </label>
                {{!-- <span>4</span> --}}

                <label for="{{ subject.id }}-lesstof5">
                    5
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof5" id="5" value="5" required>
                </label>
                {{!-- <span>5</span> --}}

                <label for="{{ subject.id }}-lesstof6">
                    6
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof6" id="6" value="6" required>
                </label>
                {{!-- <span>6</span> --}}

                <label for="{{ subject.id }}-lesstof7">
                    7
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof7" id="7" value="7" required>
                </label>
                {{!-- <span>7</span> --}}

                <label for="{{ subject.id }}-lesstof8">
                    8
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof8" id="8" value="8" required>
                </label>
                {{!-- <span>8</span> --}}

                <label for="{{ subject.id }}-lesstof9">
                    9
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof9" id="9" value="9" required>
                </label>
                {{!-- <span>9</span> --}}

                <label for="{{ subject.id }}-lesstof10">
                    10
                    <input type="radio" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof10" id="10" value="10" required>
                </label>
                {{!-- <span>10</span> --}}

            </div>
        </fieldset>

        <fieldset class="radio">
            <legend>Uitleg (Hoe duidelijk vond je de uitleg?)</legend>
            <div class="wrapper">

                <label for="{{ subject.id }}-uitleg1">
                    1
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg1" id="1" value="1" required>
                </label>
                {{!-- <span>1</span> --}}

                <label for="{{ subject.id }}-uitleg2">
                    2
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg2" id="2" value="2" required>
                </label>
                {{!-- <span>2</span> --}}

                <label for="{{ subject.id }}-uitleg3">
                    3
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg3" id="3" value="3" required>
                </label>
                {{!-- <span>3</span> --}}

                <label for="{{ subject.id }}-uitleg4">
                    4
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg" id="4" value="4" required>
                </label>
                {{!-- <span>4</span> --}}

                <label for="{{ subject.id }}-uitleg5">
                    5
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg5" id="5" value="5" required>
                </label>
                {{!-- <span>5</span> --}}

                <label for="{{ subject.id }}-uitleg6">
                    6
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg6" id="6" value="6" required>
                </label>
                {{!-- <span>6</span> --}}

                <label for="{{ subject.id }}-uitleg7">
                    7
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg7" id="7" value="7" required>
                </label>
                {{!-- <span>7</span> --}}

                <label for="{{ subject.id }}-uitleg8">
                    8
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg8" id="8" value="8" required>
                </label>
                {{!-- <span>8</span> --}}

                <label for="{{ subject.id }}-uitleg9">
                    9
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg9" id="9" value="9" required>
                </label>
                {{!-- <span>9</span> --}}

                <label for="{{ subject.id }}-uitleg10">
                    10
                    <input type="radio" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg10" id="10" value="10" required>
                </label>
                {{!-- <span>10</span> --}}

            </div>
        </fieldset>

        <fieldset class="radio">
            <legend>Inzicht (Hoe goed snap je het?)</legend>
            <div class="wrapper">

                <label for="{{ subject.id }}-inzicht1">
                    1
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht1" id="1" value="1" required>
                </label>
                {{!-- <span>1</span> --}}

                <label for="{{ subject.id }}-inzicht2">
                    2
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht2" id="2" value="2" required>
                </label>
                {{!-- <span>2</span> --}}

                <label for="{{ subject.id }}-inzicht3">
                    3
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht3" id="3" value="3" required>
                </label>
                {{!-- <span>3</span> --}}

                <label for="{{ subject.id }}-inzicht4">
                    4
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht" id="4" value="4" required>
                </label>
                {{!-- <span>4</span> --}}

                <label for="{{ subject.id }}-inzicht5">
                    5
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht5" id="5" value="5" required>
                </label>
                {{!-- <span>5</span> --}}

                <label for="{{ subject.id }}-inzicht6">
                    6
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht6" id="6" value="6" required>
                </label>
                {{!-- <span>6</span> --}}

                <label for="{{ subject.id }}-inzicht7">
                    7
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht7" id="7" value="7" required>
                </label>
                {{!-- <span>7</span> --}}

                <label for="{{ subject.id }}-inzicht8">
                    8
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht8" id="8" value="8" required>
                </label>
                {{!-- <span>8</span> --}}

                <label for="{{ subject.id }}-inzicht9">
                    9
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht9" id="9" value="9" required>
                </label>
                {{!-- <span>9</span> --}}

                <label for="{{ subject.id }}-inzicht10">
                    10
                    <input type="radio" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht10" id="10" value="10" required>
                </label>
                {{!-- <span>10</span> --}}

            </div>
        </fieldset>

        {{!-- <label for="{{ subject.id }}-lesstof">Lesstof (Hoe moeilijk vond je het?)</label>
        <input type="range" name="{{ subject.id }}lesstof" id="{{ subject.id }}-lesstof" min="1" max="10" value="{{ answers.lesstof }}" required>

        <label for="{{ subject.id }}-uitleg">Uitleg (Hoe duidelijk vond je de uitleg?)</label>
        <input type="range" name="{{ subject.id }}uitleg" id="{{ subject.id }}-uitleg" min="1" max="10" value="{{ answers.uitleg }}" required>

        <label for="{{ subject.id }}-inzicht">Inzicht (Hoe goed snap je het?)</label>
        <input type="range" name="{{ subject.id }}inzicht" id="{{ subject.id }}-inzicht" min="1" max="10" value="{{ answers.inzicht }}" required> --}}

        <button type="submit">Volgende</button>
    </form>
</section>